---
import Layout from "../layouts/Layout.astro"
import { getEntry } from "astro:content"

const aboutEntry = await getEntry("site-content", "about")
const { Content: AboutContent } = await aboutEntry.render()
---

<Layout title="About Rajshahi Blog">
  <main>
    <div class="about-hero">
      <AboutContent />
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1.5rem;
    flex-grow: 1;
  }
  .about-hero {
    max-width: 800px;
    margin: 0 auto 2.5rem auto;
    border-radius: var(--radius);
  }
</style>
