---
import Layout from "../layouts/Layout.astro"
import { getEntry } from "astro:content"

const aboutEntry = await getEntry("site-content", "about")
const { Content: AboutContent } = await aboutEntry.render()
---

<Layout title="About Rajshahi Blog">
  <main>
    <div class="about-hero">
      <img src="https://images.unsplash.com/photo-1552058544-f2b08422138a?q=80&w=1299&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Rajshahi landscape" class="about-hero" loading="lazy" />
      <AboutContent />
    </div>
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1.5rem;
    flex-grow: 1;
  }
  .about-hero {
    max-width: 800px;
    margin: 0 auto 2.5rem auto;
    border-radius: var(--radius);
  }
</style>
