---
title: "Resources"
---

<Layout title="Resources">
  <h1>Resources</h1>
  <ul>
    <li><a href="https://astro.build/" target="_blank" rel="noopener">Astro Documentation</a></li>
    <li><a href="https://docs.astro.build/en/guides/integrations-guide/" target="_blank" rel="noopener">Astro Integrations Guide</a></li>
    <li><a href="https://github.com/withastro/astro" target="_blank" rel="noopener">Astro GitHub</a></li>
    <li><a href="https://css-tricks.com/" target="_blank" rel="noopener">CSS-Tricks</a></li>
    <li><a href="https://developer.mozilla.org/" target="_blank" rel="noopener">MDN Web Docs</a></li>
  </ul>
</Layout>
