---
import Layout from "../layouts/Layout.astro"
import { getEntry } from "astro:content"

const resourcesEntry = await getEntry("site-content", "resources")
const { Content: ResourcesContent } = await resourcesEntry.render()
---

<Layout title="Resources">
  <main>
    <ResourcesContent />
  </main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 1.5rem;
    flex-grow: 1;
  }
</style>

<style>
  .resources-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 3rem;
    /* margin-top: 2.2rem; */
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("main a").forEach((anchor) => {
      anchor.setAttribute("target", "_blank")
      anchor.setAttribute("rel", "noopener noreferrer")
    })
  })
</script>
